/* recent files widgets */
pie--OpenFilesWidget,
pie--RecentFilesWidget {
	background-color: BACKGROUND_COLOR;
	min-height: 400px;
	max-height: 600px;
	max-width: 500px;
}

pie--RecentFilesWidget > QLabel,
pie--OpenFilesWidget > QLabel {

	font-size: 16pt;
	color: HIGHLIGHT_COLOR;
	margin-top: 20px;
	margin-bottom: 20px;
}

pie--OpenFilesWidget > QPushButton {
	border: none;
	font-size: 12pt;
	color: HIGHLIGHT_COLOR;
	min-height: 40px;
	padding: 15px;
	text-align: left;
}

pie--OpenFilesWidget > QPushButton:hover {
	background-color: HIGHLIGHT_LIGHT;
}

pie--RecentFilesWidget > QListView {
	border: none;
	font-size: 12pt;
	color: HIGHLIGHT_COLOR;
	max-width: 400px;
}

pie--ResizableScrollArea {
	border: none;
}

pie--TabWidget {
	padding: 0px;
	margin: 0px;
	/* border: none; */
}

pie--ResizableScrollArea QScrollBar,
pie--RecentFilesWidget > QListView QScrollBar {
	/* border: 1px solid HIGHLIGHT_COLOR;  */
	background-color: HIGHLIGHT_LIGHT; 	/* not working? */
}

pie--ResizableScrollArea QScrollBar:vertical,
pie--RecentFilesWidget > QListView QScrollBar:vertical {
	width: 10px; 
}

pie--ResizableScrollArea QScrollBar:horizontal,
pie--RecentFilesWidget > QListView QScrollBar:horizontal {
	height: 10px; 
}

pie--ResizableScrollArea QScrollBar:handle:vertical,
pie--RecentFilesWidget > QListView QScrollBar:handle {
	border: none; 
	background: HIGHLIGHT_COLOR; 
}

pie--ResizableScrollArea QScrollBar:handle:vertical,
pie--RecentFilesWidget > QListView QScrollBar:handle:vertical {
	min-height: 40px;
}

pie--ResizableScrollArea QScrollBar:handle:horizontal,
pie--RecentFilesWidget > QListView QScrollBar:handle:horizontal {
	min-width: 40px;
}

pie--ResizableScrollArea QScrollBar:add-page,
pie--ResizableScrollArea QScrollBar:add-line,
pie--ResizableScrollArea QScrollBar:sub-page,
pie--ResizableScrollArea QScrollBar:sub-line,
pie--RecentFilesWidget > QListView QScrollBar:add-page, 
pie--RecentFilesWidget > QListView QScrollBar:add-line,
pie--RecentFilesWidget > QListView QScrollBar:sub-page,
pie--RecentFilesWidget > QListView QScrollBar:sub-line {
	height: 0px;
	width: 0px;
	background: BACKGROUND_COLOR;
}

/* new plot widget */
pie--NewPlotWidget {
	background-color: BACKGROUND_COLOR;
}

QPushButton#newPlotButton:hover {
	background-color: rgba(100, 100, 100, 90);
	border: none;
}

QPushButton#newPlotButton:focus {
	background-color: rgba(100, 100, 100, 90);
	border: none;
}

QLabel#newPlotLabel {
	color: HIGHLIGHT_COLOR;
	font: light "Segoe UI";
	font-size: 14pt;
}

pie--PlotWidget {
	border: 1px solid #f00;
}

/* plot */
QPushButton#axisLabel {
	color: HIGHLIGHT_COLOR;
	font: light "Segoe UI";
	font-size: 8pt;
	padding: 2px;
}

QPushButton#axisLabel:hover {
	background-color: rgba(100, 100, 100, 90);
	border: none;
	/* color: #0097e2; */ /* got some problems with own painter here */
}

QPushButton#axisLabel:focus {
	background-color: rgba(100, 100, 100, 90);
	border: none;
	/* color: #0097e2; */ /* got some problems with own painter here */
}

pie--OrButton {
	color: HIGHLIGHT_COLOR;
	font: light "Segoe UI";
	font-size: 10pt;
	padding: 2px;
}

pie--MenuButton {
 	max-width: 16px;
	max-height: 16px;
	margin: 4px;
	border: none;
}

pie--BasePlot {
	background-color: BACKGROUND_COLOR;
	/* min-height: 200px; */
}

pie--BasePlot:focus {
	border-top: 2px solid HIGHLIGHT_COLOR;
}

pie--BasePlot[selected="true"] {
	border-top: 2px solid SELECTION_COLOR;
}
